# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this.

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability.

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [101]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

In [102]:
pip install sqlalchemy==2.0

Requirement already satisfied: sqlalchemy==2.0 in /usr/local/lib/python3.10/dist-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==2.0) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy==2.0) (2.0.2)

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [103]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [104]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [105]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [106]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [107]:
posts = pd.read_csv('posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,24/08/2019 09:39,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,24/08/2019 11:38,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,25/08/2019 10:25,NaN
1,423498,1,0,0,24/08/2019 09:47,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,06/09/2019 12:52,06/09/2019 12:52,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,24/08/2019 09:48,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,25/08/2019 08:54,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,24/08/2019 09:57,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,24/08/2019 09:57,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,24/08/2019 10:44,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,24/08/2019 12:13,24/08/2019 12:13,NaN,NaN,0,1,0,NaN,NaN

In [108]:
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)
# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,24/08/2019 09:39,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,24/08/2019 11:38,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,25/08/2019 10:25,None
1,423498,1,0,0,24/08/2019 09:47,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,06/09/2019 12:52,06/09/2019 12:52,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,24/08/2019 09:48,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,25/08/2019 08:54,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,24/08/2019 09:57,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,24/08/2019 09:57,None,None,0,0,0,None,None
4,423502,2,0,423286,24/08/2019 10:44,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,24/08/2019 12:13,24/08/2019 12:13,None,None,0,1,0,None,None

In [109]:
users = pd.read_csv('users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,17/04/2017 14:50,user157607,23/07/2019 16:44,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,17/04/2017 20:08,user102859,26/06/2019 13:42,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,18/04/2017 05:10,jupiar,25/11/2019 13:32,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,18/04/2017 06:39,farmer,17/02/2019 19:44,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,18/04/2017 12:56,Miki P,12/08/2019 17:02,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [110]:
# load users into sqlite
users.to_sql('users', con, if_exists='replace', index=False)
# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,17/04/2017 14:50,user157607,23/07/2019 16:44,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,17/04/2017 20:08,user102859,26/06/2019 13:42,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,18/04/2017 05:10,jupiar,25/11/2019 13:32,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,18/04/2017 06:39,farmer,17/02/2019 19:44,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,18/04/2017 12:56,Miki P,12/08/2019 17:02,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells.
    </font></div>

In [111]:
print('shape users BEFORE duplicate drop is', users.shape)
users.drop_duplicates(inplace = True)
print('shape of users AFTER duplicate drop is', users.shape)

shape users BEFORE duplicate drop is (18412, 13)
shape of users AFTER duplicate drop is (18412, 13)

In [112]:
print('shape of posts BEFORE duplicate drop is', posts.shape)
posts.drop_duplicates(inplace = True)
print('shape of posts AFTER duplicate drop is', posts.shape)

shape of posts BEFORE duplicate drop is (42234, 21)
shape of posts AFTER duplicate drop is (42234, 21)

In [113]:
print('shape of comments BEFORE duplicate drop is', comments.shape)
comments.drop_duplicates(inplace = True)
print('shape of comments AFTER duplicate drop is', comments.shape)

shape of comments BEFORE duplicate drop is (50000, 6)
shape of comments AFTER duplicate drop is (50000, 6)

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [114]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [115]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,17/04/2017 14:50,user157607,23/07/2019 16:44,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,17/04/2017 20:08,user102859,26/06/2019 13:42,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,18/04/2017 05:10,jupiar,25/11/2019 13:32,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,18/04/2017 06:39,farmer,17/02/2019 19:44,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,18/04/2017 12:56,Miki P,12/08/2019 17:02,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [116]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [117]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [118]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [119]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,24/08/2019 09:39,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,24/08/2019 11:38,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,25/08/2019 10:25,None
1,423498,1,0,0,24/08/2019 09:47,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,06/09/2019 12:52,06/09/2019 12:52,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,24/08/2019 09:48,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,25/08/2019 08:54,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,24/08/2019 09:57,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,24/08/2019 09:57,None,None,0,0,0,None,None
4,423502,2,0,423286,24/08/2019 10:44,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,24/08/2019 12:13,24/08/2019 12:13,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [120]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [121]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [122]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [123]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [124]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [125]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [126]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [127]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [128]:
# Run the CREATE TABLE statement for the posts table, including the primary key constraint
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [129]:
# Run the CREATE TABLE statement for the comments table, including the primary key constraint and the 2 foreign key constraints
%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER REFERENCES posts(Id),
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER REFERENCES users(Id)
)

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [130]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [131]:
# Insert data into the new posts table
posts.to_sql('posts', con, if_exists='append', index=False)

42234

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [132]:
# Insert data into the new comments table
comments.to_sql('comments', con, if_exists='append', index=False)

50000

Now check that we have the 3 new table definitions in Sqlite:

In [133]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [134]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [135]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

<ipython-input-135-7b2c47bab8fa>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [136]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [137]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [138]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [139]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [140]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [141]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [142]:
# Insert the CREATE TABLE for posts into the queries table

sql = """
CREATE TABLE "posts" (
"Id" INTEGER,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)"""
store_query("Task 1", "Create table posts", sql)

In [143]:
# Insert the CREATE TABLE for users into the queries table

sql = """"
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
)"""
store_query("Task 1", "Create table users", sql)

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [144]:
# Count the number of rows in the comments table
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [145]:
sql = "SELECT COUNT(*) FROM comments"
store_query("Task 1", "Count the Number of Rows in the comments table", sql)

In [146]:
# Count the number of rows in the users table
%sql SELECT COUNT(*) FROM users

 * sqlite:///chatdata.db
Done.

[(18412,)]

In [147]:
sql = "SELECT COUNT(*) FROM users"
store_query("Task 1", "Count the Number of Rows in the users table", sql)

In [148]:
# Count the number of rows in the posts table
%sql SELECT COUNT(*) FROM posts

 * sqlite:///chatdata.db
Done.

[(42234,)]

In [149]:
sql = "SELECT COUNT(*) FROM posts"
store_query("Task 1", "Count the Number of Rows in the posts table", sql)

In [150]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\nCREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTEG ... (202 characters truncated) ... tle" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)'),
 ('Task 1', 'Create table users', '"\nCREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEX ... (17 characters truncated) ... TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)'),
 ('Task 1', 'Count the Number of Rows in the comments table', 'SELECT COUNT(*) FROM comments'),
 ('Task 1', 'Count the Number of Rows in the users table', 'SELECT COUNT(*) FROM users'),
 ('Task 1', 'Count the Number of Rows in the posts table', 'SELECT COUNT(*) FROM posts')]

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [151]:
# Run the query to select 5 random rows from the posts table
%sql select * from Posts order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(392839, 2, 0, 392821, '16/02/2019 16:27', 1, 0, '<p>logistic regression with categorical data will assume that there is a scale between the categories, it can not handle unordered categories.</p>\n\ ... (186 characters truncated) ... f your analysis still applies to this model, you are golden. Otherwise, there will be differences between the chunked model and the full model.</p>\n', 137988, None, 0, None, None, '16/02/2019 16:27', None, None, 0, 11, 0, None, None),
 (412204, 2, 0, 412178, '09/06/2019 16:16', 1, 0, '<p><span class="math-container">$$\ns_1 &lt; \\frac{M-\\mu}{Q_3-Q_1} &lt; s_2\n$$</span>\nYou only need to solve for <span class="math-container">$\\ ... (750 characters truncated) ... \n<span class="math-container">$$\nM-s_2(Q_3-Q_1) &lt; \\mu &lt; M- s_1(Q_3-Q_1).\n$$</span></p>\n\n<p>Then in part (d), plug in those numbers.</p>\n', 5176, None, 0, None, None, '09/06/2019 16:16', None, None, 0, 0, 0, None, None),
 (399648, 1, 0, 0, '27/03/2019 07:48', 0, 39, '<p>I want to check which interaction should i include in my liner regression model or which not. As following model trying to predict Ozone concentra ... (5028 characters truncated) ... //i.stack.imgur.com/NjOlM.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NjOlM.jpg" alt="enter image description here"></a></p>\n', 172500, None, 0, None, None, '27/03/2019 07:48', 'Choosing Interactions', '<machine-learning><statistical-significance><anova><multiple-regression><predictive-models>', 0, 0, 0, None, None),
 (395093, 1, 423518, 0, '01/03/2019 15:12', 6, 105, '<p>Searching through <a href="https://en.wikipedia.org/wiki/Variance#Distribution_of_the_sample_variance" rel="nofollow noreferrer">Wikipedia</a> and ... (1533 characters truncated) ... \\Gamma( \\frac{N-1}{2} ) } \\right)^2 }; $$</span> </p>\n\n<p>since this result is rather convincing, where\'s the fault in my own reasoning? </p>\n', 239504, None, 2126, None, '24/08/2019 22:28', '24/08/2019 22:28', 'Estimate for the error of an error?', '<variance><standard-deviation><error-propagation>', 1, 2, 0, None, None),
 (430472, 1, 0, 0, '08/10/2019 07:57', 0, 20, "<p>I have an excel sheet having some series of data in the form of column vectors. each column vector is of different length. the sample data in the  ... (10384 characters truncated) ...  the time-series data and cluster the time-series data based on distances. I haven't found any relevant code for it</p>\n\n<p>thanks in advance</p>\n", 261996, None, 0, None, None, '08/10/2019 07:57', 'how to calculate distance between time series data with vectors having unequal length in R', '<r><machine-learning><time-series><clustering>', 0, 1, 0, '08/10/2019 13:00', None)]

In [152]:
sql = "select * from Posts order by random() limit 5"
store_query("Task 1", "Select 5 random rows from the posts table", sql)

In [153]:
# Run the query to select 5 random rows from the posts comments
%sql select * from Comments order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(769011, 411677, 0, "where do you see seasonality in the data? There are fluctuations, but they don't seem regular.", '2019-06-06 16:45:00', 89649),
 (775769, 415601, 0, 'But how to build a theory without looking at the original predictors? I am not just interested in prediction, but also inference.', '2019-07-02 16:46:19', 252484),
 (771673, 413314, 0, "I noticed that the degrees of freedom for negative binomial was a lot smaller compared to the other two models, where did you get the P value of arounf 0.3 from? (I must be blind haha).\n\nThanks I'll look into ESplot, also, are the coefficient values signifying anything?", '2019-06-16 20:29:39', 250518),
 (779848, 417905, 0, "Well, in many applications, it's useful to think of it in terms of conditional probabilities because that's what you have, but other than that, you're right, they are equivalent.", '2019-07-17 16:45:49', 7555),
 (732771, 390240, 0, 'Let us [continue this discussion in chat](https://chat.stackexchange.com/rooms/89103/discussion-between-samvid-kulkarni-and-statsstudent).', '2019-01-31 23:12:04', 236112)]

In [154]:
sql = "select * from Comments order by random() limit 5"
store_query("Task 1", "Select 5 random rows from the Comments  table", sql)

In [155]:
# Run the query to select 5 random rows from the users table
%sql select * from Users order by random() limit 5;

 * sqlite:///chatdata.db
Done.

[(13351, 251, '16/08/2012 13:56', 'Yoda', '22/11/2019 04:33', None, 'Ontario', '<p>Newbie to computer hacking. Long time math geek. PhD in Machine Learning. Interested in classification and big data on *nix platform using open source technologies.</p>\n', 30, 17, 0, None, 1459475),
 (242595, 1, '27/03/2019 08:44', 'Ollie', '31/05/2019 10:37', None, None, None, 0, 0, 0, None, 15614488),
 (252414, 1, '01/07/2019 08:45', 'Zookie', '02/09/2019 14:21', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/3f0e0555890105f849b609c1b4599a6e?s=128&d=identicon&r=PG&f=1', 14516934),
 (212863, 211, '27/06/2018 06:12', 'batuman', '09/11/2019 03:23', None, None, None, 18, 9, 0, 'https://www.gravatar.com/avatar/19d111f9436ccf10d1391751e54a2699?s=128&d=identicon&r=PG', 2875629),
 (27556, 3342, '02/07/2013 16:34', 'seanv507', '30/11/2019 21:50', None, None, None, 592, 442, 42, None, 1816105)]

In [156]:
sql = "select * from Users order by random() limit 5"
store_query("Task 1", "Select 5 random rows from the Users table", sql)

In [157]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\nCREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTEG ... (202 characters truncated) ... tle" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)'),
 ('Task 1', 'Create table users', '"\nCREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEX ... (17 characters truncated) ... TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)'),
 ('Task 1', 'Count the Number of Rows in the comments table', 'SELECT COUNT(*) FROM comments'),
 ('Task 1', 'Count the Number of Rows in the users table', 'SELECT COUNT(*) FROM users'),
 ('Task 1', 'Count the Number of Rows in the posts table', 'SELECT COUNT(*) FROM posts'),
 ('Task 1', 'Select 5 random rows from the posts table', 'select * from Posts order by random() limit 5'),
 ('Task 1', 'Select 5 random rows from the Comments  table', 'select * from Comments order by random() limit 5'),
 ('Task 1', 'Select 5 random rows from the Users table', 'select * from Users order by random() limit 5')]

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [158]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [159]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [160]:
# How many posts have 0 comments?
sql = """
SELECT COUNT (CommentCount)
FROM posts
WHERE CommentCount = 0;
"""
store_query("Task 2","Posts that have 0 comments", sql)
result = pd.read_sql(sql, con)
result.head()

   COUNT (CommentCount)
0                 21713

In [161]:
# How many posts have 1 comments?
sql = """
SELECT COUNT (CommentCount)
FROM posts
WHERE CommentCount = 1;
"""
store_query("Task 2","Posts that have 1 comments", sql)
result = pd.read_sql(sql, con)
result.head()

   COUNT (CommentCount)
0                  6460

In [162]:
# How many posts have 2 comments or more?
sql = """
SELECT COUNT (CommentCount)
FROM posts
WHERE CommentCount > 1;
"""
store_query("Task 2","Posts that have 2 comments or more", sql)
result = pd.read_sql(sql, con)
result.head()

   COUNT (CommentCount)
0                 14061

In [163]:
# Find the 5 posts with the highest viewcount
sql = """
SELECT *
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;
"""
store_query("Task 2","5 posts with the highest viewcount", sql)
result = pd.read_sql(sql, con)
result.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,LEN_BODY
0,388566,1,388582,0,22/01/2019 15:16,56,19542,"<ul>\n<li>Statement One (S1): ""One in 80 death...",228214,None,...,22/01/2019 21:40,24/01/2019 17:09,"Is it wrong to rephrase ""1 in 80 deaths is cau...",<interpretation><risk>,9,15,15,None,None,2270
1,394118,1,394128,0,24/02/2019 14:07,64,16317,<p>A human child at age 2 needs around 5 insta...,107213,None,...,25/02/2019 22:40,03/03/2019 17:37,Why do neural networks need so many training e...,<neural-networks><neuroscience>,12,24,38,None,None,512
2,431370,1,431397,0,14/10/2019 11:29,77,11723,<p>It seems very counter intuitive to many peo...,262594,None,...,28/11/2019 01:44,28/11/2019 01:44,Is there a name for the phenomenon of false po...,<probability><terminology><intuition>,8,9,18,None,None,811
3,398646,1,398653,0,21/03/2019 01:19,61,9850,<p>The title of the Comment in Nature <a href=...,163067,None,...,22/03/2019 22:14,30/03/2019 19:35,"What does ""Scientists rise up against statisti...",<statistical-significance><p-value><bias>,10,7,34,None,None,2148
4,434128,1,434579,0,01/11/2019 13:07,73,6718,<p>I am designing a one year program in data a...,14188,None,...,None,26/11/2019 00:59,Famous statistical wins and horror stories for...,<mathematical-statistics><data-visualization><...,13,7,70,None,01/11/2019 15:12,1172

In [164]:
# Find the top 5 posts with the highest scores
sql = """
SELECT *
FROM posts
ORDER BY Score DESC
LIMIT 5;
"""
store_query("Task 2","top 5 posts with the highest scores", sql)
result = pd.read_sql(sql, con)
result.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,LEN_BODY
0,431397,2,0,431370,14/10/2019 14:29,101,0,<p>Yes there is. Generally it is termed <stron...,142976,None,...,None,14/10/2019 14:29,None,None,0,0,0,None,None,269
1,394128,2,0,394118,24/02/2019 15:44,100,0,<p>I caution against expecting strong resembla...,22311,None,...,03/03/2019 17:37,03/03/2019 17:37,None,None,0,15,0,None,None,5829
2,426878,2,0,426873,11/09/2019 23:23,93,0,<p><strong>tl;dr</strong> Even though this is ...,119015,None,...,13/09/2019 14:02,13/09/2019 14:02,None,None,0,6,0,None,None,4627
3,388578,2,0,388566,22/01/2019 15:48,80,0,"<p>To me ""1 in 80 deaths..."" is by far the cle...",227039,None,...,None,22/01/2019 15:48,None,None,0,11,0,None,None,572
4,431370,1,431397,0,14/10/2019 11:29,77,11723,<p>It seems very counter intuitive to many peo...,262594,None,...,28/11/2019 01:44,28/11/2019 01:44,Is there a name for the phenomenon of false po...,<probability><terminology><intuition>,8,9,18,None,None,811

In [165]:
# What are the 5 most frequent scores on posts?
sql = """
SELECT Score, Count(*)
FROM posts
GROUP BY Score
ORDER BY Count(*) DESC
LIMIT 5;
"""
store_query("Task 2","5 most frequent scores on posts", sql)
result = pd.read_sql(sql, con)
result.head()

   Score  Count(*)
0      0     19888
1      1     11867
2      2      5094
3      3      2228
4      4      1059

In [166]:
# How many posts have the keyword "data" in their tags?
sql = """
SELECT Count(tags)
FROM posts
WHERE Body LIKE "%data%";
"""
store_query("Task 2","How many posts have the keyword data in their tags?", sql)
result = pd.read_sql(sql, con)
result.head()

   Count(tags)
0        11344

In [167]:
# What are the 5 most frequent commentcount for posts?
sql = """
SELECT CommentCount, Count(*)
FROM Posts
GROUP BY CommentCount
ORDER BY Count(*) DESC
LIMIT 5;
"""
store_query("Task 2","5 most frequent commentcount for posts", sql)
result = pd.read_sql(sql, con)
result.head()

   CommentCount  Count(*)
0             0     21713
1             1      6460
2             2      4966
3             3      3063
4             4      2026

In [168]:
# How many posts have an accepted answer?
sql = """
SELECT Count(*)
FROM posts
WHERE AcceptedAnswerId > 0;
"""
store_query("Task 2","How many posts have an accepted answer?", sql)
result = pd.read_sql(sql, con)
result.head()

   Count(*)
0      5341

In [169]:
# What is the average reputation of table users?
sql = """
SELECT AVG(Reputation)
FROM users;
"""
store_query("Task 2","What is the average reputation of table users?", sql)
result = pd.read_sql(sql, con)
result.head()

   AVG(Reputation)
0       312.350912

In [170]:
# What are the min reputation of users?
sql = """
SELECT MIN(Reputation)
FROM users;
"""
store_query("Task 2","What are the min reputation of users", sql)
result = pd.read_sql(sql, con)
result.head()

   MIN(Reputation)
0                1

In [171]:
# What are the max reputation of users?
sql = """
SELECT MAX(Reputation)
FROM users;
"""
store_query("Task 2","What are the max reputation of users?", sql)
result = pd.read_sql(sql, con)
result.head()

   MAX(Reputation)
0           228662

In [172]:
# What is the length of the body of 5 most viewed posts?
sql = """
SELECT LENGTH("Body")
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;
"""
store_query("Task 2","Length of the body of 5 most viewed posts", sql)
result = pd.read_sql(sql, con)
result.head()

   LENGTH("Body")
0            2270
1             512
2             811
3            2148
4            1172

In [173]:
# How many different locations are there in the users table?
sql = """
SELECT Count(DISTINCT Location)
FROM users;
"""
store_query("Task 2","How many different locations are there in the users table?", sql)
result = pd.read_sql(sql, con)
result.head()

   Count(DISTINCT Location)
0                      1900

In [174]:
# What are the top 5 locations of users?
sql = """
SELECT Location, Count(*)
FROM users
WHERE LOCATION IS NOT NULL
GROUP BY Location
ORDER BY Count(*) DESC
LIMIT 5;
"""
store_query("Task 2","top 5 locations of users?", sql)
result = pd.read_sql(sql, con)
result.head()

                 Location  Count(*)
0                 Germany       117
1                   India       100
2           United States        69
3           Paris, France        66
4  London, United Kingdom        63

In [175]:
# Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.
sql = """SELECT ROUND(SUM(ViewCount * 100.0)  /
     (SELECT SUM(ViewCount)
        FROM Posts), 2) AS SumViewCountPercent,
            CASE CAST (strftime('%w', CreationDate) AS INTEGER)
                WHEN 0 THEN 'Sunday'
                WHEN 1 THEN 'Monday'
                WHEN 2 THEN 'Tuesday'
                WHEN 3 THEN 'Wednesday'
                WHEN 4 THEN 'Thursday'
                WHEN 5 THEN 'Friday'
                ELSE 'Saturday' END AS Day
FROM Posts
    GROUP BY Day
        ORDER BY SumViewCountPercent DESC;"""
store_query("Task 2", "Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.", sql)
result = pd.read_sql(sql, con)
result.head()

   SumViewCountPercent       Day
0                100.0  Saturday

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

In [176]:
# How many posts have been created by a user that has a filled out the "AboutMe" section?
sql = """SELECT COUNT(*) FROM POSTS
    JOIN USERS  ON Posts.OWNERUSERID = Users.ID
    WHERE Users.ABOUTME !='';
    """
store_query("Task 3","Total number of posts that been created by a user's that has a filled out the AboutMe section", sql)
result = pd.read_sql(sql, con)
result.head()

   COUNT(*)
0     17189

In [177]:
# Considering only the users with an "AboutMe," how many posts are there per user?
sql = """SELECT COUNT(*) / (SELECT CAST(COUNT(*) AS FLOAT) FROM USERS WHERE ABOUTME !='') AS PostsPerUser
    FROM POSTS
    JOIN USERS ON Posts.OWNERUSERID = Users.ID
    WHERE Users.ABOUTME !='';
    """
store_query("Task 3","Considering only the users with an AboutMe how many posts are there per user?", sql)
result = pd.read_sql(sql, con)
result.head()

   PostsPerUser
0      4.274807

In [178]:
# Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?
sql = """
SELECT COUNT(*) AS CommentCount, p.Id AS PostId
FROM comments c JOIN posts p ON p.Id = c.PostId
GROUP BY p.Id
ORDER BY COMMENTCOUNT DESC
LIMIT 10;
"""
store_query("Task 3","Top 10 posts in terms of number of comments", sql)
result = pd.read_sql(sql, con)
result.head(10)

   CommentCount  PostId
0            66  386853
1            34  386556
2            31  418910
3            31  395232
4            27  402987
5            26  386075
6            24  394118
7            23  402950
8            23  398828
9            22  396111

In [179]:
# What are the Top 10 posts which have the highest cummulative (post score + comment score) score?
sql = """SELECT  P.SCORE + SUM(C.SCORE) AS PostCommentScore, COUNT(*) AS Posts,  P.ID FROM POSTS P
    JOIN COMMENTS C ON C.POSTID = P.ID
    GROUP BY P.ID, P.SCORE ORDER BY PostCommentScore DESC LIMIT 10;
    """
store_query("Task 3", "Top 10 posts which have the highest cummulative score", sql)
result = pd.read_sql(sql, con)
result.head(10)

   PostCommentScore  Posts      Id
0               306     24  394118
1               169     15  394128
2               141     11  388578
3               111     15  398653
4               101     15  388566
5                99      7  398646
6                96      9  421677
7                92      6  420526
8                72      5  400317
9                69      5  388582

['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [180]:
# Who are the top 10 users who comment the most?
sql = """
SELECT COUNT(*) AS NumberOfComments , comments.userid, Reputation
FROM comments JOIN users ON users.id = comments.userid
GROUP BY users.Id, Reputation
ORDER BY Reputation DESC
LIMIT 10;
"""
store_query("Task 3", "Top 10 users who comment the most", sql)
result = pd.read_sql(sql, con)
result.head(10)

   NumberOfComments  UserId  Reputation
0              1153     805      228662
1              3301     919      223056
2               370    7290      115531
3               349     686       85077
4               158   28666       75024
5               470   35989       71548
6               424    7224       65999
7               255    4253       59952
8               422    1352       59160
9               467   22311       51155

In [181]:
# Who are the top 10 users who post the most?
sql = """
SELECT COUNT(*) AS NumberOfPosts , posts.Owneruserid, Reputation
FROM posts JOIN users ON users.id = posts.OwneruserId
GROUP BY users.Id, Reputation
ORDER BY Reputation DESC
LIMIT 10;
"""
store_query("Task 3", "Top 10 users who post the most", sql)
result = pd.read_sql(sql, con)
result.head(10)

   NumberOfPosts  OwnerUserId  Reputation
0            230          805      228662
1            203          919      223056
2             35         7290      115531
3            386          686       85077
4              8        28666       75024
5            230        35989       71548
6            233         7224       65999
7             71         4253       59952
8            285         1352       59160
9            140        22311       51155

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [182]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\nCREATE TABLE "posts" (\n"Id" INTEGER,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"CreationDate" TEXT,\n"Score" INTEG ... (202 characters truncated) ... tle" TEXT,\n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT\n)'),
 ('Task 1', 'Create table users', '"\nCREATE TABLE "users" (\n"Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDate" TEX ... (17 characters truncated) ... TEXT,\n"Location" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER\n)'),
 ('Task 1', 'Count the Number of Rows in the comments table', 'SELECT COUNT(*) FROM comments'),
 ('Task 1', 'Count the Number of Rows in the users table', 'SELECT COUNT(*) FROM users'),
 ('Task 1', 'Count the Number of Rows in the posts table', 'SELECT COUNT(*) FROM posts'),
 ('Task 1', 'Select 5 random rows from the posts table', 'select * from Posts order by random() limit 5'),
 ('Task 1', 'Select 5 random rows from the Comments  table', 'select * from Comments order by random() limit 5'),
 ('Task 1', 'Select 5 random rows from the Users table', 'select * from Users order by random() limit 5'),
 ('Task 2', 'Posts that have 0 comments', '\nSELECT COUNT (CommentCount)\nFROM posts\nWHERE CommentCount = 0;\n'),
 ('Task 2', 'Posts that have 1 comments', '\nSELECT COUNT (CommentCount)\nFROM posts\nWHERE CommentCount = 1;\n'),
 ('Task 2', 'Posts that have 2 comments or more', '\nSELECT COUNT (CommentCount)\nFROM posts\nWHERE CommentCount > 1;\n'),
 ('Task 2', '5 posts with the highest viewcount', '\nSELECT *\nFROM posts\nORDER BY ViewCount DESC\nLIMIT 5;\n'),
 ('Task 2', 'top 5 posts with the highest scores', '\nSELECT *\nFROM posts\nORDER BY Score DESC\nLIMIT 5;\n'),
 ('Task 2', '5 most frequent scores on posts', '\nSELECT Score, Count(*)\nFROM posts\nGROUP BY Score\nORDER BY Count(*) DESC\nLIMIT 5;\n'),
 ('Task 2', 'How many posts have the keyword data in their tags?', '\nSELECT Count(tags)\nFROM posts\nWHERE Body LIKE "%data%";\n'),
 ('Task 2', '5 most frequent commentcount for posts', '\nSELECT CommentCount, Count(*)\nFROM Posts\nGROUP BY CommentCount\nORDER BY Count(*) DESC\nLIMIT 5;\n'),
 ('Task 2', 'How many posts have an accepted answer?', '\nSELECT Count(*)\nFROM posts\nWHERE AcceptedAnswerId > 0;\n'),
 ('Task 2', 'What is the average reputation of table users?', '\nSELECT AVG(Reputation)\nFROM users;\n'),
 ('Task 2', 'What are the min reputation of users', '\nSELECT MIN(Reputation)\nFROM users;\n'),
 ('Task 2', 'What are the max reputation of users?', '\nSELECT MAX(Reputation)\nFROM users;\n'),
 ('Task 2', 'Length of the body of 5 most viewed posts', '\nSELECT LENGTH("Body")\nFROM posts\nORDER BY ViewCount DESC\nLIMIT 5;\n'),
 ('Task 2', 'How many different locations are there in the users table?', '\nSELECT Count(DISTINCT Location)\nFROM users;\n'),
 ('Task 2', 'top 5 locations of users?', '\nSELECT Location, Count(*)\nFROM users\nWHERE LOCATION IS NOT NULL\nGROUP BY Location\nORDER BY Count(*) DESC\nLIMIT 5;\n'),
 ('Task 2', 'Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.', "SELECT ROUND(SUM(ViewCount * 100.0)  /\n     (SELECT SUM(ViewCount)\n        FROM Posts), 2) AS SumViewCountPercent,\n            CASE CAST (strftime ... (235 characters truncated) ...            WHEN 5 THEN 'Friday'\n                ELSE 'Saturday' END AS Day\nFROM Posts\n    GROUP BY Day\n        ORDER BY SumViewCountPercent DESC;"),
 ('Task 3', "Total number of posts that been created by a user's that has a filled out the AboutMe section", "SELECT COUNT(*) FROM POSTS \n    JOIN USERS  ON Posts.OWNERUSERID = Users.ID\n    WHERE Users.ABOUTME !='';\n    "),
 ('Task 3', 'Considering only the users with an AboutMe how many posts are there per user?', "SELECT COUNT(*) / (SELECT CAST(COUNT(*) AS FLOAT) FROM USERS WHERE ABOUTME !='') AS PostsPerUser\n    FROM POSTS\n    JOIN USERS ON Posts.OWNERUSERID = Users.ID\n    WHERE Users.ABOUTME !='';\n    "),
 ('Task 3', 'Top 10 posts in terms of number of comments', '\nSELECT COUNT(*) AS CommentCount, p.Id AS PostId\nFROM comments c JOIN posts p ON p.Id = c.PostId\nGROUP BY p.Id\nORDER BY COMMENTCOUNT DESC\nLIMIT 10;\n'),
 ('Task 3', 'Top 10 posts which have the highest cummulative score', 'SELECT  P.SCORE + SUM(C.SCORE) AS PostCommentScore, COUNT(*) AS Posts,  P.ID FROM POSTS P\n    JOIN COMMENTS C ON C.POSTID = P.ID\n    GROUP BY P.ID, P.SCORE ORDER BY PostCommentScore DESC LIMIT 10;\n    '),
 ('Task 3', 'Top 10 users who comment the most', '\nSELECT COUNT(*) AS NumberOfComments , comments.userid, Reputation\nFROM comments JOIN users ON users.id = comments.userid\nGROUP BY users.Id, Reputation\nORDER BY Reputation DESC\nLIMIT 10;\n'),
 ('Task 3', 'Top 10 users who post the most', '\nSELECT COUNT(*) AS NumberOfPosts , posts.Owneruserid, Reputation\nFROM posts JOIN users ON users.id = posts.OwneruserId\nGROUP BY users.Id, Reputation\nORDER BY Reputation DESC\nLIMIT 10;\n')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [183]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

In [184]:
queries.drop_duplicates(inplace = True)

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [185]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()

queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 1,CREATE TABLE POSTS,"\nCREATE TABLE ""POSTS"" (\n""ID"" INTEGER,\n""POST..."
3,TASK 1,CREATE TABLE USERS,"""\nCREATE TABLE ""USERS"" (\n""ID"" INTEGER NOT NU..."
4,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,SELECT COUNT(*) FROM COMMENTS
5,TASK 1,COUNT THE NUMBER OF ROWS IN THE USERS TABLE,SELECT COUNT(*) FROM USERS
6,TASK 1,COUNT THE NUMBER OF ROWS IN THE POSTS TABLE,SELECT COUNT(*) FROM POSTS
7,TASK 1,SELECT 5 RANDOM ROWS FROM THE POSTS TABLE,SELECT * FROM POSTS ORDER BY RANDOM() LIMIT 5
8,TASK 1,SELECT 5 RANDOM ROWS FROM THE COMMENTS TABLE,SELECT * FROM COMMENTS ORDER BY RANDOM() LIMIT 5
9,TASK 1,SELECT 5 RANDOM ROWS FROM THE USERS TABLE,SELECT * FROM USERS ORDER BY RANDOM() LIMIT 5
10,TASK 2,POSTS THAT HAVE 0 COMMENTS,\nSELECT COUNT (COMMENTCOUNT)\nFROM POSTS\nWHE...
11,TASK 2,POSTS THAT HAVE 1 COMMENTS,\nSELECT COUNT (COMMENTCOUNT)\nFROM POSTS\nWHE...
12,TASK 2,POSTS THAT HAVE 2 COMMENTS OR MORE,\nSELECT COUNT (COMMENTCOUNT)\nFROM POSTS\nWHE...
13,TASK 2,5 POSTS WITH THE HIGHEST VIEWCOUNT,\nSELECT *\nFROM POSTS\nORDER BY VIEWCOUNT DES...
14,TASK 2,TOP 5 POSTS WITH THE HIGHEST SCORES,\nSELECT *\nFROM POSTS\nORDER BY SCORE DESC\nL...
15,TASK 2,5 MOST FREQUENT SCORES ON POSTS,"\nSELECT SCORE, COUNT(*)\nFROM POSTS\nGROUP BY..."
16,TASK 2,HOW MANY POSTS HAVE THE KEYWORD DATA IN THEIR ...,\nSELECT COUNT(TAGS)\nFROM POSTS\nWHERE BODY L...
17,TASK 2,5 MOST FREQUENT COMMENTCOUNT FOR POSTS,"\nSELECT COMMENTCOUNT, COUNT(*)\nFROM POSTS\nG..."
18,TASK 2,HOW MANY POSTS HAVE AN ACCEPTED ANSWER?,\nSELECT COUNT(*)\nFROM POSTS\nWHERE ACCEPTEDA...
19,TASK 2,WHAT IS THE AVERAGE REPUTATION OF TABLE USERS?,\nSELECT AVG(REPUTATION)\nFROM USERS;\n
20,TASK 2,WHAT ARE THE MIN REPUTATION OF USERS,\nSELECT MIN(REPUTATION)\nFROM USERS;\n
21,TASK 2,WHAT ARE THE MAX REPUTATION OF USERS?,\nSELECT MAX(REPUTATION)\nFROM USERS;\n
22,TASK 2,LENGTH OF THE BODY OF 5 MOST VIEWED POSTS,"\nSELECT LENGTH(""BODY"")\nFROM POSTS\nORDER BY ..."
23,TASK 2,HOW MANY DIFFERENT LOCATIONS ARE THERE IN THE ...,\nSELECT COUNT(DISTINCT LOCATION)\nFROM USERS;\n
24,TASK 2,TOP 5 LOCATIONS OF USERS?,"\nSELECT LOCATION, COUNT(*)\nFROM USERS\nWHERE..."
25,TASK 2,RANK THE DAYS OF THE WEEK FROM HIGHEST TO LOWE...,SELECT ROUND(SUM(VIEWCOUNT * 100.0) /\n (...
26,TASK 3,TOTAL NUMBER OF POSTS THAT BEEN CREATED BY A U...,SELECT COUNT(*) FROM POSTS \n JOIN USERS O...
27,TASK 3,CONSIDERING ONLY THE USERS WITH AN ABOUTME HOW...,SELECT COUNT(*) / (SELECT CAST(COUNT(*) AS FLO...
28,TASK 3,TOP 10 POSTS IN TERMS OF NUMBER OF COMMENTS,"\nSELECT COUNT(*) AS COMMENTCOUNT, P.ID AS POS..."
29,TASK 3,TOP 10 POSTS WHICH HAVE THE HIGHEST CUMMULATIV...,SELECT P.SCORE + SUM(C.SCORE) AS POSTCOMMENTS...
30,TASK 3,TOP 10 USERS WHO COMMENT THE MOST,"\nSELECT COUNT(*) AS NUMBEROFCOMMENTS , COMMEN..."
31,TASK 3,TOP 10 USERS WHO POST THE MOST,"\nSELECT COUNT(*) AS NUMBEROFPOSTS , POSTS.OWN..."

In [186]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

32

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [187]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',),
 ('\nSELECT SCORE, COUNT(*)\nFROM POSTS\nGROUP BY SCORE\nORDER BY COUNT(*) DESC\nLIMIT 5;\n',),
 ('\nSELECT COMMENTCOUNT, COUNT(*)\nFROM POSTS\nGROUP BY COMMENTCOUNT\nORDER BY COUNT(*) DESC\nLIMIT 5;\n',),
 ('\nSELECT LOCATION, COUNT(*)\nFROM USERS\nWHERE LOCATION IS NOT NULL\nGROUP BY LOCATION\nORDER BY COUNT(*) DESC\nLIMIT 5;\n',),
 ("SELECT ROUND(SUM(VIEWCOUNT * 100.0)  /\n     (SELECT SUM(VIEWCOUNT)\n        FROM POSTS), 2) AS SUMVIEWCOUNTPERCENT,\n            CASE CAST (STRFTIME ... (235 characters truncated) ...            WHEN 5 THEN 'FRIDAY'\n                ELSE 'SATURDAY' END AS DAY\nFROM POSTS\n    GROUP BY DAY\n        ORDER BY SUMVIEWCOUNTPERCENT DESC;",),
 ('\nSELECT COUNT(*) AS COMMENTCOUNT, P.ID AS POSTID\nFROM COMMENTS C JOIN POSTS P ON P.ID = C.POSTID\nGROUP BY P.ID\nORDER BY COMMENTCOUNT DESC\nLIMIT 10;\n',),
 ('SELECT  P.SCORE + SUM(C.SCORE) AS POSTCOMMENTSCORE, COUNT(*) AS POSTS,  P.ID FROM POSTS P\n    JOIN COMMENTS C ON C.POSTID = P.ID\n    GROUP BY P.ID, P.SCORE ORDER BY POSTCOMMENTSCORE DESC LIMIT 10;\n    ',),
 ('\nSELECT COUNT(*) AS NUMBEROFCOMMENTS , COMMENTS.USERID, REPUTATION\nFROM COMMENTS JOIN USERS ON USERS.ID = COMMENTS.USERID\nGROUP BY USERS.ID, REPUTATION\nORDER BY REPUTATION DESC\nLIMIT 10;\n',),
 ('\nSELECT COUNT(*) AS NUMBEROFPOSTS , POSTS.OWNERUSERID, REPUTATION\nFROM POSTS JOIN USERS ON USERS.ID = POSTS.OWNERUSERID\nGROUP BY USERS.ID, REPUTATION\nORDER BY REPUTATION DESC\nLIMIT 10;\n',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [188]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT COUNT(DISTINCT LOCATION)\nFROM USERS;\n',)]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [189]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.